@model IEnumerable<NHTLesson04.Models.NHTBook>
@{
    ViewData["Title"] = "List books";
}
<a href="/nhtbook/nhtcreate" class="btn btn-primary"> thêm mới</a>
<h1>List of Books</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Image</th>
            <th>Price ($)</th>
            <th>Pages</th>
        </tr>
    </thead>
    <tbody>
        @foreach (NHTBook NHTItem in Model)
        {
            <tr>
                <td>@NHTItem.NHTId</td>
                <td>@NHTItem.NHTTitle</td>
                <td>@NHTItem.NHTDes</td>
                <td>
                    <img src="~/@NHTItem.NHTImage" alt="@NHTItem.NHTTitle" style="width:100px; height:auto;" />
                </td>
                <td>@NHTItem.NHTPrice.ToString("F2")</td>
                <td>@NHTItem.NHTPage</td>
            </tr>
        }
    </tbody>
</table>
